<html>
    <head>
        <title>Cnuboard</title>
    </head>
    <board>
    <p>
        <div>
        {% for post in posts %}
            <h1>{{post.title}}</h1>
        {% endfor %}
        </div>

        <div>
            <h2>start parser_data</h2>
        {% for parsers in parser %}

            <h4>{{parsers.text}}</h4>
            <a href="{{parsers.link}}" target="_blank">
                <p style="font-size:9px">링크</p>
            </a>
        {% endfor %}
        </div>
    </p>
    </board>
</html>